body {       
   margin: 0%; 
}
img {
   width: 180px; 
   height: 200px;
   
}
h2 {     
    
    
}
.header {     
    background-color: rgb(133, 14, 14);
    padding: 3px;
}
.menu {
    color: azure;
    display: flex;
    list-style: none;
    justify-content:space-evenly;
}
.menu__info {
    padding: 7px;
}
.galeria {
    margin: 200px;
}